<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Recipe Recommender</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <meta charset="UTF-8">
</head>
<body>
<div class="container">
  <h1>Recipe Recommender</h1>
  <p>Semantic Web Homework Project</p>

  <div class="top-links">
    <a href="/recipes">View All Recipes</a>
    <a href="/recipes/add">Add New Recipe</a>
    <a href="/users/add">Add User</a>
    <a href="/recipes/recommend/skill">Recommendations by Skill</a>
    <a href="/recipes/recommend/full">Recommendations by Skill + Cuisine</a>
    <a href="/recipes/xsl">Recipes Displayed with XSL</a>
  </div>
</div>
</body>
</html>